alias m=less
if [ -f /snap/bin/emacs ]
then
#  echo "Found snap emacs"
  export EDITOR=emacs
  function emacs () {  
    /snap/bin/emacs $* 2>&1 1>/dev/null | grep -v Fontconfig | grep -v libgvfsdbus.so; 
  }
  alias e=emacs
#Note this middle clause has not been tested
elif [ `which emacs` ]
then
#  echo "Found non-snap emacs"
  export EDITOR=emacs
  alias e="emacs"
else
#  echo "Emacs not found - using nano"
  export EDITOR=nano
  alias e=nano
fi
alias z=clear
alias md=mkdir
alias ls='ls --color'
alias lsd='ls --color=always -lath|less -R'
function rmbak() { find . -maxdepth 1 -name '*~' -delete; find . -maxdepth 1 -name '#*' -delete; }
alias hex='hexdump -C'
export LESS=-Xi
if [[ "$(uname)" == "Linux" ]]; then
  alias open='xdg-open'
fi
function vinagre () {  
  /usr/bin/vinagre $* 2>&1 1>/dev/null | grep -v Gtk-WARNING; 
}
alias vnc='vinagre'
alias bc='bc -l'
alias hexdump='hexdump -C'
alias ntop='bmon'
